$menu-background-color: rgba(26, 26, 26, .8);
$background-color: rgba(205, 189, 46, 0.4);
$filter-background-color: rgba(121, 117, 80, 0.8);
$filter-background-fixed-color: rgba(177, 174, 145, 0.95);
$filter-separator-color: rgba(26, 26, 26, .4);
$filter-background-hover-color: rgba(121, 117, 80, 0.6);
$filter-icon-hover: rgba(205, 56, 64, .8);

$modal-background-color: rgb(26, 26, 26);
$modal-background-separator: rgba(72, 72, 72, .5);
$modal-color-primary: rgb(205, 189, 46);
$modal-close-background-color: rgba(120, 120, 120, 0.5) ;
$width-xs: 480px;