@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import "./constants";
@import "./bootstrap";

body {
    font-family: 'Raleway', Arial, sans-serif !important;
    background: $background-color !important;

    .bm-menu {
        background: $menu-background-color;
    }

    .collection-items {
        &__item {
            border-radius: 10px;

            .item__image {
                border-radius: 10px;
            }
        }

        &__content {
            .container-overlay--show{
                display: none;
            }
        }

        &__filter-area {
            position: fixed;
            background-color: $filter-background-fixed-color;
        }

        .item-container__title {
            margin-top: 1.5em;
        }

        &__breadcrumb {
            font-size: 3em;
        }
    }

    .item-filter {
        text-align: center;

        &__select {

            div {
                &:hover {
                    border: 0;
                }

                box-shadow: none;
            }

            > div > div {
                border: 0;
                background-color: $filter-background-color;
            }

            svg {
                fill: $menu-background-color;

                &:hover {
                    fill: $filter-icon-hover;
                }
            }

            span[class*='-indicatorSeparator'] {
                background-color: $filter-separator-color;
            }

            div[class*='-placeholder'] {
                color: $menu-background-color;
            }

            div[class*='-multiValue'] {
                background-color: $modal-color-primary;
            }

            div[class*='-MenuList'] > div[class*='-option'] {
                background-color: transparent;
                font-weight: bold;

                &:hover {
                    background-color: $filter-background-hover-color !important;
                    color: $modal-color-primary;
                }
            }

        }

        @media (min-width: #{$width-xs}) {
            &--rarity {
                width: 200px !important;
            }
        }

    }
}
